.home{

  background: linear-gradient(to bottom, #c94b4b, #4b134f);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.pacifico{

  font-family: 'Pacifico', cursive;
}

.btn{

  background-size: contain;
}
