.home{

  background: linear-gradient(to bottom, #c94b4b, #4b134f);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.pacifico{

  font-family: 'Pacifico', cursive;
}

.btn{

  background-size: contain;
}

.fade-out.ng-hide {
  opacity: 0;
}

.fade-out.ng-hide-add, .fade-out.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}

/*.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background-color: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    background: #c94b4b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c94b4b;
    cursor: pointer;
}*/
