<script>
    $(document).ready(function(){
        $("#sidenav-overlay").fadeOut(300, function() {
          $(this).remove(); });
        $(".button-collapse").sideNav();

        $('.parallax').parallax();

        $('.lean-overlay').remove();


  });
</script>

<nav>
<div class="nav-wrapper pink darken-4 ">
<a href="/home" class="brand-logo pacifico">Próximo</a>
<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="/home"><i class="material-icons">home</i></a></li>
<li><a href="/about"><i class="material-icons">live_help</i></a></li>
</ul>
<ul id="mobile-demo" class="side-nav pink darken-2">
  <li><a class="mobile-link" style="color:white"href="/" data-dismiss="sidenave-overlay">home</a></li>
  <li><a class="mobile-link" style="color:white"href="/about">about</a></li>


</ul>
</div>
</nav>



  <div class="parallax-container">
    <div class="parallax"><img src="images/nashvilleskyline.jpg"></div>
  </div>
  <div class="section pink darken-4 home2">
    <div class="row container">
      <h1 class="white-text">High Mark©</h1>
      <img src="images/highmark.png" alt="">
      <p class="white-text lighten-3">Made In Nashville // TN by:</p>
      <p class="white-text">Ben White: Lead Logic Programmer</p>
      <p class="white-text">Brandon Wilmott: Lead UI and UX designer</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/nashville2.jpg"></div>
  </div>
</div>
