<script>
    $(document).ready(function(){
        $("#sidenav-overlay").fadeOut(300, function() {
          $("#sidenav-overlay").remove(); });
        $(".button-collapse").sideNav();

        $('.lean-overlay').remove();


  });
</script>

<div style="min-width: 100vw; min-height: 100vh;">
  <nav style="width: 100%;">
  <div class="nav-wrapper pink darken-4 animate-in ">
  <a href="/home" class="brand-logo pacifico ">Próximo</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="/settings"><i class="material-icons">settings</i></a></li>
  <li><a href="/about"><i class="material-icons">live_help</i></a></li>
  </ul>
  <ul id="mobile-demo" class="side-nav pink darken-3 home2">
    <li><a style="color:white"href="/settings">settings</a></li>
    <li><a style="color:white"href="/about">about</a></li>
  </nav>


<div style="z-index: 3;">
  <div>
    <div style="height: 30vh; width: 100%; background-image: url('images/nashville-star.png'); background-repeat: no-repeat; background-size: cover; background-position: 0 bottom;  "></div>
  </div>

  <div class="pink darken-4" style="padding: 0 0 1em 1em;">
    <div>
      <img src="images/logo-text.png" alt="high mark" style="width: 300px; margin: 1em 0 0 -2em;"><br>
      <span class="white-text lighten-3">Made In Nashville // TN by:</span><br>
      <span class="white-text">Ben White: Back End and API</span><br>
      <span class="white-text">Brandon Wilmott: Lead UI and UX designer</span>
    </div>
  </div>
</div>
  <div>
    <div>
      <div style="height: 30vh; width: 100%; background-image: url('images/guitars.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center bottom;  "></div>
    </div>
  </div>
</div>
