

<div class="home" style="height:100vh; margin: 0px; margin-left: 0px; inline">
  <div class="row">
  <div class="pacifico col-4" style="text-align:center; color: white; font-size: 65px;padding-top:25%;">Próximo</div>
</div>
  <div style="margin-left: 32%; padding-top:0%;" class="row">
  <!-- <a class="btn-floating disabled col-2"><img src="/images/facebook.svg" alt=""></a>
  <a class="btn-floating disabled col-2"><img src="/images/twitter.svg" alt=""></a>
  <a class="btn-floating disabled col-2"><img src="/images/googleplus.svg" alt=""></a> -->

</div>
<div class="row">
  <form style="margin-bottom:0px"class="col s12">
     <div class="row">
       <div class="input-field col s12">


         <input id="email" type="text" class="validate">
         <label for="email">E-mail</label>

       </div>
       <div class="row">
       <div  style="color:white"class="input-field col s12">
         <input id="password" type="tel" class="validate">
         <label for="password">Password</label>
       </div>
     </div>
   </form>
 </div>
</div>




  <div class="row">


    <div class="fixed-action-btn toolbar ">
      <a class="btn-floating btn-large waves-light pink darken-3">
        <i class="large material-icons">expand_more</i>
      </a>
      <ul>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">person</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">person</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">person</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">person</i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <button  style="text-align: center; width: 100%;"class="btn waves-effect waves-light pink darken-4" type="submit" name="action">Submit
  <i class="material-icons right">send</i>
</button>
  </div>

  <div class="row">

    <button  style="margin-top: 0px; width: 100%;text-align: center;"class="waves-effect waves-light pink darken-3 btn">Continue as Guest</button>

  </div>




</div>



</div>
