<script>
  $(document).ready(function(){
      $("#sidenav-overlay").fadeOut(300, function() {
        $(this).remove(); });
  $('select').material_select();

});
</script>



<div style="height:100vh; max-width: 700px; margin: 0 auto;">
  <div style="width:100%; max-width: 600px">
  <div class="row">
    <div style="float:right;" class="switch">
  <!-- <label>
    <input type="checkbox">
    <span class="lever pulse"></span>
  </label> -->
</div>
  </div>
  <div class="row">
  <div class="pacifico col-4" style="text-align:center; color: white; font-size: 80px;padding-top:10%;">Próximo</div>
</div>
  <div style="margin-left: 32%; padding-top:0%;" class="row">
  <!-- <a class="btn-floating disabled col-2"><img src="/images/facebook.svg" alt=""></a>
  <a class="btn-floating disabled col-2"><img src="/images/twitter.svg" alt=""></a>
  <a class="btn-floating disabled col-2"><img src="/images/googleplus.svg" alt=""></a> -->

</div>
<!--Email and Password Login  -->
<!-- <div  style="padding-top: 1em; ;"class="row" >
  <form style="margin-bottom:0px;"class="col s12">
     <div style="margin-bottom: 5px"class="row">
       <div class="input-field col s12">


         <input id="email" type="text" class="validate">
         <label for="email">E-mail</label>

       </div>
       <div class="row">
       <div  style="color:white"class="input-field col s12">
         <input id="password" type="tel" class="validate">
         <label for="password">Password</label>
       </div>
     </div>
   </form>
 </div>
</div> -->




  <div class="row">

<!--disabled social media Login  -->
    <!-- <div class="fixed-action-btn toolbar "> <label class="text-white">disabled for testing purposes</label>
      <a class=" disabled btn-floating btn tooltipped waves-light pink darken-3 z-depth-4  data-position: "left" data-delay: "50" data-tooltip:"login-other"">
        <i class="large material-icons">expand_more</i>Hover me!
      </a>
      <ul>
        <li class="waves-effect waves-light blue darken-3 z-depth-5"><a href="#!"><img style="border-radius: 10px;margin-top: 7px; height: 40px; width: 40px;" src="images/facebook.png" alt=""></a></li> -->
        <!-- <li class="waves-effect waves-light purple z-depth-5"><a href="#!"><img style="border-radius: 10px;margin-top: 7px; height: 40px; width: 40px;" src="images/instagram.png" alt=""></a></li> -->
        <!-- <li class="waves-effect waves-light yellow  z-depth-5"><a href="#!"><img style="border-radius: 10px;margin-top: 7px; height: 40px; width: 40px;" src="images/snapchat.png" alt=""></a></li> -->
        <!-- <li class="waves-effect waves-light blue lighten-2 z-depth-5"><a href="#!"><img style="border-radius: 10px;margin-top: 7px; height: 40px; width: 40px;" src="images/twitter.png" alt=""></a></li>
        <li class="waves-effect waves-light red darken-3 z-depth-5"><a href="#!"><img style="border-radius: 10px;margin-top: 7px; height: 40px; width: 40px;" src="images/google.png" alt=""></a></li>



      </ul>
    </div> -->
  </div>

  <!-- <div class="row">
    <button  style="text-align: center; width: 100%; "class="btn waves-effect waves-light pink darken-2 z-depth-5" type="submit" name="action">Login</i>
</button>
  </div> -->

  <!-- <div class="row">

    <button  style="margin-top: 0px; width: 100%;text-align: center; "class="waves-effect waves-light pink darken-3 btn z-depth-5"><a style="color:white"href="/loadscreen">Guest</a></button>

  </div> -->
  <div style="height: 50%"class="row">

    <button  style="margin-top: 200px; text-align: center;"class="waves-effect waves-light start-btn pink darken-2 btn z-depth-5" ng-click="start()"><a style="color:white" >GO!</a></button>
    <!-- <span class="white-text message">beta build 1.0</span> -->

  </div>




</div>

  </div>
