<script>
  $(document).ready(function(){

     $(".button-collapse").sideNav();
  })
</script>

<nav>
<div class="nav-wrapper pink darken-4 ">
<a href="/home" class="brand-logo pacifico">Próximo</a>
<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="/home"><i class="material-icons">home</i></a></li>
<li><a href="/about"><i class="material-icons">live_help</i></a></li>
</ul>
<ul id="mobile-demo" class="side-nav">
<li><a href="#">home</a></li>
<li><a href="#">about</a></li>
<li><a href="#">contact</a></li>
</ul>
</div>
</nav>

<div style="margin-top: 2em; width: 100%;"class="row">
        <div style="width: 100%; margin-top: 2em; padding-top: 1em;"class="col s6 m7">
          <div style="width: 100%"class="card">
            <div class="card-image">
              <img src="images/sushi.jpg">

            </div>
            <div class="card-content">
              <p>general description</p>
            </div>
          </div>
        </div>
      </div>
    <div style="width:100%"class="row">
      <a  style=" float: left; margin-left: 2em;"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">not_interested</i></a>
      <a  style=" float: right; margin-right: 2em;"class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">sentiment_very_satisfied</i></a>
      <a  style=" float: left; margin-left: 5.3em;"<i style="color:grey"class="material-icons">live_help</i></a>
    </div>





    </div>
