<script>
  $(document).ready(function(){

     $(".button-collapse").sideNav();

     window.addEventListener("beforeunload", function(){
       document.body.classList.add("animate-out");
     });
  });
</script>

<nav>
<div class="nav-wrapper pink darken-4 animate-in ">
<a href="/home" class="brand-logo pacifico">Próximo</a>
<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="/home"><i class="material-icons">home</i></a></li>
<li><a href="/about"><i class="material-icons">live_help</i></a></li>
</ul>
<ul id="mobile-demo" class="side-nav pink darken-2">
<li><a style="color:white"href="/">home</a></li>
<li><a style="color:white"href="/about">about</a></li>

</ul>
</div>
</nav>
<div class="home" style="height:100vh; margin: 0px; margin-left: 0px; inline ">
<div  style="padding-top: 1em; margin-bottom: 0px;"class="row">
  <a  style="float: right; margin-right: 5px;"><i class="material-icons"style="color:white;">live_help</i></a>
</div>
<div style="margin-top: 0em; width: 100%;"class="row">
        <div style="width: 100%; margin: 0 0 0 0; padding: 1em 0 0 0;"class="col s6 m7">
          <div style="width: 100%"class="card" overflow:"hidden">
            <div style="padding: 0 0 0 0; margin: 0 0 0 0;" class="card-image white ">

<div style="overflow:hidden; margin: 0 0 0 0; width: 100%; max-height: 400px" class="container" >
              <img class="main.img" ng-src="{{ imageUrl }}" style="border-radius: 0" width:"100%" height:"auto"; overflow:"hidden"; margin-top: "0em">

          </div>
        </div>

          </div>
        </div>
      </div>
    <div style="width:100%"class="row">
      <button style=" float: left; margin-left: 0.5em;"class="waves-effect waves-light btn-large red col s5" ng-click="nextImage()"><i class="material-icons">not_interested</i></button>
      <button style=" float: right; margin-right: 0.5em;"class="btn-large waves-effect waves-light green col s5" ng-click="positive()"><i class="material-icons">sentiment_very_satisfied</i></button>

    </div>





    </div>
  </div>
