<script>
  $(document).ready(function(){

     $(".button-collapse").sideNav();
  });
</script>

<nav>
<div class="nav-wrapper pink darken-4 ">
<a href="/home" class="brand-logo pacifico">Próximo</a>
<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="/home"><i class="material-icons">home</i></a></li>
<li><a href="/about"><i class="material-icons">live_help</i></a></li>
</ul>
<ul id="mobile-demo" class="side-nav">
<li><a href="/">home</a></li>
<li><a href="/about">about</a></li>

</ul>
</div>
</nav>
<div class="home" style="height:100vh; margin: 0px; margin-left: 0px; inline ">

<div style="margin-top: 0em; width: 100%;"class="row">
        <div style="width: 100%; margin-top: 2em; padding-top: 1em;"class="col s6 m7">
          <div style="width: 100%"class="card" overflow:"hidden">
            <div class="card-image">

<div style="overflow:hidden" class="container">
              <img  ng-src="{{ imageUrl }}" width:"100%" height:"250px" overflow:"hidden" margin-top: "1em">

          </div>
        </div>
            <div class="card-content">
              <p>general description
                <a  style="float: right;"><i class="material-icons"style="color:grey;">live_help</i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    <div style="width:100%"class="row">
      <a  style=" float: left; margin-left: 2em;"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">not_interested</i></a>
      <button style=" float: right; margin-right: 2em;"class="btn-floating btn-large waves-effect waves-light green" ng-click="nextImage()"><i class="material-icons">sentiment_very_satisfied</i></button>

    </div>





    </div>
  </div>
