<nav>
<div class="nav-wrapper pink darken-4 ">
<a href="/home" class="brand-logo pacifico">Próximo</a>

<div class="white-text" style=" float: right; color: white; height: 1.5em; width: 1.5em; margin: 1.2em .5em 0 .2em; padding: 0; background-image: url(images/martini.png); background-size: contain; background-repeat: no-repeat;">
    <!-- <img src="images/martini.png" height: '10' width: '10'> -->
</div>

<div class="white-text" style=" float: right; color: white; height: 1.5em; width: 1.5em; margin: 1.2em 4.5em 0 0; padding: 0; background-image: url(images/burger.png); background-size: contain; background-repeat: no-repeat;">
</div>



<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <div style="padding-right:5em">
<li><a href="/settings"><i class="material-icons">settings</i></a></li>
<li><a href="/about"><i class="material-icons">live_help</i></a></li>
</div>
</ul>
<ul id="mobile-demo" class="side-nav pink darken-3 home2">
  <li><a style="color:white"href="/settings">settings</a><i class="material icons"> settings_application</i></li>
  <li><a style="color:white"href="/about">about</a><i class="material icons"> help</i></li>


</ul>
</div>
</nav>
