<script>
  $(document).ready(function(){

  $('select').material_select();

});
</script>

<script>
  $(document).ready(function(){

    window.addEventListener("beforeunload", function(){
      document.body.classList.add("animate-out");
    });

     $(".button-collapse").sideNav();
  });
</script>

<div class="home animate-in" style="height:100vh; margin: 0px; margin-left: 0px; inline">
<nav>
<div class="nav-wrapper pink darken-4 ">
<a href="/home" class="brand-logo pacifico">Próximo</a>
<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="/home"><i class="material-icons">home</i></a></li>
<li><a href="/about"><i class="material-icons">live_help</i></a></li>
</ul>
<ul id="mobile-demo" class="side-nav">
  <li><a style="color:white"href="/">home</a></li>
  <li><a style="color:white"href="/about">about</a></li>


</ul>
</div>
</nav>


  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i style="color: white; margin-top: 4px;" class="material-icons prefix ">location_city</i>
          <input type="text" id="autocomplete-input" style="color: white;" class="autocomplete  " ng-model="here">
          <label class="white-text" for="autocomplete-input "></label>
        </div>
      </div>
    </div>
  </div>



<div style="margin-top:1em;"></div>
<form  class=" white-text" style="padding-left: 1em; margin-bottom: 1em;"action="#">
    
        <p>
          <input class="with-gap white" name="group1" type="radio" id="test1" ng-model="range" value="800" checked/>
          <label class=" white-text"for="test1"> less than &frac12; mile </label>
        </p>
        <p>
          <input  class="with-gap"name="group1" type="radio" id="test2" ng-model="range" value="1600"/>
          <label class=" white-text"for="test2"> within 1 mile</label>
        </p>
        <p>
          <input class="with-gap" name="group1" type="radio" id="test3"  ng-model="range" value="3200"/>
          <label class=" white-text" for="test3">within 2 miles</label>
        </p>
        <p>
          <input class="with-gap"name="group1" type="radio" id="test4" ng-model="range" value="8000"/>
          <label class=" white-text"for="test4">within 5 miles</label>
        </p>
        <p>
          <input class="with-gap"name="group1" type="radio" id="test5" ng-model="range" value="16000"/>
          <label class=" white-text"for="test5">within 10 miles</label>
        </p>
</form>


<div class="row">

  <button  style="margin-top: 0px; width: 100%;text-align: center;"class="waves-effect waves-light pink darken-4 btn z-depth-5" ng-click="start()">Continue</button>

</div>
<script>
    function activatePlacesSearch() {
        var input = document.getElementById('autocomplete-input');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeIyiRGq2YiHzZWgql9gPsJEPE9qND5bo&libraries=places&callback=activatePlacesSearch"></script>
