<script>
  $(document).ready(function(){

  $('select').material_select();

});
</script>

<div class="home" style="height:100vh; margin: 0px; margin-left: 0px; inline">

<div class="row">
  <div style="color:white"class="input-field col s12">
     <select>
       <option style="color:white" value="" disabled selected>0-10mi</option>
       <option value="1">11-15mi</option>
       <option value="2">16-35mi</option>
       <option value="3">35mi +</option>
     </select>
     <label style="color:white">Choose Your Range</label>
   </div>
 </div>

</div>
