<script>
  $(document).ready(function(){

  $('select').material_select();

  $(".button-collapse").sideNav();

  function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}

$('.slider').slider();


  });
</script>

<div class="pacifico col-4" style="text-align:center; color: white; font-size: 80px;padding-top:60%;">Próximo</div>
